{% extends 'pages/base.html' %}

{% block  main_content %}


<div class="jumbotron">
    <div class="container">
        <h3> Listagens mensais de balancetes (PIS/COFINS) </h3>
    </div>
</div>

<main role="main" class="container">

  <div class="jumbotron">
      <p class="lead"> Listagem de balancetes  </p>

  <form enctype="multipart/form-data" method="post" action="{% url 'ibs:listar-balancetes' %}">
        {%  csrf_token %}
      <label for="ano"> Selecione o Ano : </label>
      <select name="ano" id="ano">
          <option value="2024"> 2024 </option>
          <option value="2025"> 2025 </option>
          <option value="2026"> 2026 </option>
       </select>

      <br />
      <br />
     <label for="mes"> Selecione o Mês : </label>
      <select name="mes" id="mes">
          <option value="1"> Janeiro </option>
          <option value="2"> Fevereiro </option>
          <option value="3"> Março </option>
          <option value="4"> Abril </option>
          <option value="5"> Maio </option>
          <option value="6"> Junho </option>
          <option value="7"> Julho </option>
          <option value="8"> Agosto </option>
          <option value="9"> Setembro </option>
          <option value="10"> Outubro </option>
          <option value="11"> Novembro </option>
          <option value="12"> Dezembro </option>
       </select>

         <br />
      <br />

        <input type="submit" value="Pesquisar" class="btn btn-lg btn-primary">
    </form>

      {% if msg %} {{msg }} {% endif %}

  </div>

    {% if balancetes %}

    {%for balancete in balancetes %}
    <div class="jumbotron">

    <table width="100%" class=" table table-striped table-dark table-sm table-bordered">
        <thead>
          <tr align="center">
              <th>Código </th>
              <th>Data de registro </th>
              <th>Ano </th>
              <th>Mês </th>
              <th>Versão </th>
              <th>Exibir contas </th>
          </tr>
        </thead>
        <tbody>

         <tr align="center">
             <td> {{balancete.codigo}} </td>
             <td> {{balancete.data_entrada}} </td>
             <td> {{balancete.ano}} </td>
             <td> {{balancete.mes}} </td>
             <td> {{balancete.versao}} </td>
             <td> <a href="{% url 'ibs:exibir-contas' codigo=balancete.codigo%}"
                     role="button" > + </a>  </td>
         </tr>
   {% if balancete.contas or balacente.contas|length > 0 %}
          <tr >



 <table style="width: 100%"

        class=" table table-striped table-light table-sm table-bordered">
        <thead>
          <tr align="center">
              <th>Código </th>
              <th>Conta do Razão </th>
              <th>Periodo </th>
              <th>Saldo anterios </th>
              <th>Débitos </th>
              <th> Movimento </th>
              <th> Saldo Acumulado </th>
          </tr>
        </thead>
                   <tbody>
            {% for conta in balancete.contas %}
           <tr>
            <td> {{conta.codigo }} </td>
                <td> {{conta.conta_do_razao }} </td>
                <td> {{conta.periodo }} </td>
                <td> {{conta.saldo_anterior }} </td>
                <td> {{conta.debitos }} </td>
                <td> {{conta.movimento }} </td>
                <td> {{conta.saldo_acumulado }} </td>
            </tr>
            {% endfor %}

        </tbody>

               </table>




          </tr>
   {% endif %}


        </tbody>

    </table>


    </div>
     {% endfor %}

    {% else %}
    <p> Nenhum usuário cadastrado. </p>
    {% endif %}

</main>




{% endblock %}
