{% load static %}
<footer class="container d-flex justify-content-between align-items-center" style="padding-bottom:5%;">
  <p>&copy; ArcosDev 2023-2025</p>
  <img src="{% static 'img/logo_sompo.png' %}" style="margin-top: -10px;" class="mr-2" width="auto" height="30" alt="Logo Sompo Seguros">
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm\" crossorigin="anonymous"></script></body>
</html>