{%  load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img src="{% static 'img/onlylogo_arcosdev.png' %}" style="margin-center: -10px;" class="mr-3" width="auto" height="50" alt="Logo Arcos">
  <!--
  <img src="{% static 'img/logo_arcosdev.png' %}" style="margin-center: -10px;" class="mr-2" width="auto" height="60" alt="Logo Arcos">
  -->
    <a class="navbar-brand" href="#"> FISCAL - Apuração mensal </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        {% if request.session.usuario.perfil == "ADMIN" %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuários</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'ibs:cadastro' %}">Cadastrar </a>
          <a class="dropdown-item" href="{% url 'ibs:lista' %}">Listar </a>
        </div>
        {% endif %}

      </li>


        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Importação</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item"  href="{% url 'ibs:cadastro-balancete' %}" >Balancetes </a>
          <a class="dropdown-item" href="{% url 'ibs:cadastro-relatorio' %}">Relatórios </a>
          <a class="dropdown-item" href="{% url 'ibs:lista-balancetes' %}">Exibir balancetes e relatórios </a>
        </div>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Impostos</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="{% url 'ibs:cadastro-pis-cofins' %}">PIS/COFINS </a>
          <a class="dropdown-item" href="">IRPJ/CSLL </a>
          <a class="dropdown-item" href="{% url 'ibs:cadastro-psl' %}">PSL </a>
        </div>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vincular Conta </a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="{% url 'ibs:cadastro-conta-base-pis-cofins' %}">PIS/COFINS </a>
          <a class="dropdown-item" href="{% url 'ibs:cadastro-conta-base-irpj-csll' %}">IRPJ/CSLL </a>
          <a class="dropdown-item" href="{% url 'ibs:cadastro-conta-base-psl' %}">PSL  </a>
        </div>

      </li>

      <li>
       <a class="nav-link" href="{% url 'ibs:home' %}">Home </a>
      </li>
    </ul>
  </div>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p><a class="btn btn-secondary" href="{% url 'ibs:logout' %}" role="button"> Sair  &raquo;</a></p>
            </li>
        </ul>
    </div>
</nav>
  </div>
